%section.main-banner
  = image_tag('main-banner.jpg', class: 'main-banner__image')
%section.items-box
  %h2.product-name
    ピックアップカテゴリー
  .product-container
    %h3.product-container__title
      = link_to 'レディース 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'メンズ 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'ベビー・キッズ 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'コスメ・香水・美容 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

%section.items-box
  %h2.product-name
    ピックアップブランド
  .product-container
    %h3.product-container__title
      = link_to 'シャネル 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'ルイ ヴィトン 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'シュプリーム 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          

    %h3.product-container__title
      = link_to 'ナイキ 新着アイテム', root_path, class: 'product-container__title__link-btn'          
    .product-container__contents
      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

      .product-container__contents__child
        = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
        .product-container__contents__child__body
          .product-container__contents__child__body__name
            手袋新品コレアーレグローブス Correale gloves ラビットファー
          .product-container__contents__child__body__info
            .product-container__contents__child__body__info__price
              ¥ 900
            .product-container__contents__child__body__info__iine
              = fa_icon'heart'
              1
          .product-container__contents__child__body__tax
            (税込)

    .product-container__all
      = link_to 'すべての商品を見る', root_path, class: 'items-box__container__all__button'          
