.container
  = render "header-tops"
  = render "layouts/bread-crumbs"
  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .right-identity-information
        %section.right-continer
          = render 'mypage'
  .footer
    = render "layouts/aside"
    = render "layouts/footer"
    = render "layouts/footer-sell-btn"
