.default-container
  %header.header
    = render "layouts/header"

  %main.main-container
    = render 'main'

  %footer.footer
    = render "layouts/aside"
    = render 'layouts/footer'
    = render 'layouts/footer-sell-btn'
