.default-container
  %header.header
    = render "header-tops"

  %main.main-container
    = render 'main'

  %footer.footer
    = render "layouts/aside"
    = render 'layouts/footer'

  = render 'layouts/footer-sell-btn'