.profile-container
  %h2.profile-container__title
    プロフィール
  .profile-container__detail
    .profile-container__detail__banner
      = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "person")
      = form_for(@profile, url: user_path(current_user.id), html: {class: "profile-container__detail__form"}) do |f|
        = f.text_area :nickname, class: 'profile-container__detail__form__input', placeholder: "ユーザー名"
        = f.text_area :comment, class: 'profile-container__detail__form__edit', placeholder: "例）こんにちは。ご覧いただきありがとうございます！可愛いものやきれいめオフィス&#13;&#10;カジュアル中心に出品しています。".html_safe 
        = f.submit "変更する", class: 'profile-container__detail__form__submit-btn'