.container
  = render "layouts/header"
  %nav.bread-crumb
    - breadcrumb :mypage
    = breadcrumbs separator: " &rsaquo; "

  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .right-identity-information
        %section.right-continer
          = render 'mypage'
  .footer
    = render "layouts/aside"
    = render "layouts/footer"
    = render "layouts/sell-button"
