%ul.brand-menu
  %li
    = link_to 'シャネル', '#'
  %li
    = link_to 'ナイキ', '#'
  %li
    = link_to 'ルイ ヴィトン', '#'
  %li
    = link_to 'シュプリーム', '#'
  %li
    = link_to 'アディダス', '#'
  %li
    = link_to 'ブランド一覧', '#'