.completion-all-container
  .completion-head-container
    .mercari_logo
      = image_tag("logo.svg", class:"mercari_logo")
  .shipping-message-container
    .shipping-message1
      = link_to root_path do
        %i.far.fa-clock
      発送をお待ちください
    .shipping-message2
      出品者からの発送通知をお待ちください
  .item-completion-message-container
    .item-completion-message
      購入が完了しました
  .buy-item-container
    .item-photo
      = image_tag(@item.item_images.first.image.url, class:"item-photo") 
    .item-name
      = @item.name
  .buy-item-price-container
    .buy-item-price
      #{number_to_currency(@item.price, :unit => "¥ ", :precision => 0)}
    .buy-item-tax
      送料込み
  .shipping-address-container
    .shipping-address-head
      配送先
    .shipping-address
      = @item.user.address.zip
      = @item.user.address.prefectures
      = @item.user.address.city
      = @item.user.address.block
      = @item.user.address.building
    .shipping-name
      = @item.user.address.last_name
      = @item.user.address.first_name
  .method-of-payment-container
    .method-of-payment-head
      支払い方法
    .method-of-payment
  .after-shipping
  .footer-container

  = render "layouts/single-footer"
  