.buy-all-container
  .head-container
    .mercari_logo
      = render "layouts/single-header"
  .head-bar-container
    .head-bar
      購入内容の確認
  .buy-item-container
    .item-photo
      = image_tag(@item.item_images.first.image.url, class:"item-photo") 
    .item-name
      = @item.name
  .buy-item-price-container
    .buy-item-price
      #{number_to_currency(@item.price, :unit => "¥ ", :precision => 0)}
    .buy-item-tax
      = @item.delivery_cost
  .pay-price-container
    .pay-price-title
      支払い金額
    .pay-price
      #{number_to_currency(@item.price, :unit => "¥ ", :precision => 0)}
  = form_tag(action: :purchase, controller: :items, url: complete_item_path(@item), method: :post) do
    %script.payjp-button{"data-key": ENV['PAYJP_TEST_PUBLIC_KEY'], src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "購入する"}
  .shipping-address-container
    .shipping-address-head
      配送先
    .shipping-address
      = @item.user.address.zip
      = @item.user.address.prefectures
      = @item.user.address.city
      = @item.user.address.block
      = @item.user.address.building

    .shipping-name
      = @item.user.address.last_name
      = @item.user.address.first_name
      
    .change-button
      .p 変更する >
  .method-of-payment-container
    .method-of-payment-head
      支払い方法
    .method-of-payment
    .change-button
      .p 変更する >
  
  = render "layouts/single-footer"