.buy-all-container
  .head-container
    .mercari_logo
      = render "layouts/single-header"
  .head-bar-container
    .head-bar
      購入内容の確認
  .buy-item-container
    .item-photo
      = image_tag(@item.item_images.first.image.url, class:"item-photo") 
    .item-name
      = @item.name
  .buy-item-price-container
    .buy-item-price
      #{number_to_currency(@item.price, :unit => "¥ ", :precision => 0)}
    .buy-item-tax
      = @item.delivery_cost
  .pay-price-container
    .pay-price-inner
      .pay-price-title
        支払い金額
      .pay-price
        #{number_to_currency(@item.price, :unit => "¥ ", :precision => 0)}
    .pay-jp-btn
      = link_to "購入する", purchase_item_path(@item), method: :post, class: "payjp_btn"
  .shipping-address-container
    .shipping-address-head
      配送先
    .shipping-address
      = current_user.address.zip
      = current_user.address.prefectures
      = current_user.address.city
      = current_user.address.block
      = current_user.address.building

    .shipping-name
      = current_user.address.last_name
      = current_user.address.first_name
      
    .change-button
      .p 変更する >
  .method-of-payment-container
    .method-of-payment-head
      支払い方法
    .method-of-payment
      = '************' + current_user.profile.card_id.slice(12,4)
      %br/
      - if current_user.profile.card_mm.length == 1
        = '0' + current_user.profile.card_mm
      - else
        = current_user.profile.card_mm
      = '/'
      = current_user.profile.card_yy.slice(2,2)
    .change-button
      .p 変更する >
  
  = render "layouts/single-footer"