.all-container
  = render "tops/header-tops"
  = render "layouts/bread-crumbs"
  .main-container
    .item-container
      .item-name
        VIS LEE コラボホワイトデニム M
      .item-category
        .item-category__image
          = image_tag("pants.jpg", class:"top-item-photo") 
        .item-category__list
          .item-category__list__container
            .item-wrap
              .item-wrap__title
                出品者
              .item-wrap__detail
                .item-wrap__detail__name
                  = link_to "りょう"
                .item-wrap__detail__iine
                  .item-wrap__detail__iine__high
                    = link_to root_path do
                      %i.far.fa-grin
                      3
                  .item-wrap__detail__iine__normal
                    = link_to root_path do
                      %i.far.fa-meh
                      5

                  .item-wrap__detail__iine__low
                    = link_to root_path do
                      %i.far.fa-frown-open
                      1
            .item-wrap
              .item-wrap__category
                カテゴリー
              .item-wrap__detail
                .item-wrap__detail__name
                  = link_to "レディース"
                .item-wrap__detail__name--list
                  %i.fas.fa-chevron-right
                  = link_to "バッグ", root_path 

            .item-wrap
              .item-wrap__brand
                ブランド
              .item-wrap__info
                フルラ
            .item-wrap
              .item-wrap__condition
                商品の状態
              .item-wrap__info
                目立った傷や汚れなし
            .item-wrap
              .item-wrap__tax
                配送料の負担
              .item-wrap__info
                送料込み（出品者負担）
            .item-wrap
              .item-wrap__send
                配送の方法
              .item-wrap__info
                らくらくメルカリ便
            .item-wrap
              .item-wrap__ken
                発送元地域
              .item-wrap__info
                千葉県
            .item-wrap
              .item-wrap__day
                発送日の目安
              .item-wrap__info
                4~7日で発送
    .item-price-container
      .item-price
        ¥6,200
      .item-tax
        (税込)
      .item-tax__shipping
        送料込み
    .buy-button-container
      .buy-button
        = link_to new_item_path do
          購入画面に進む
    .item-description-container
      .item-description
        2回だけ着ました。
        %br
        シミ汚れ等なく美品です。
    .for-item-button-zone
      %button.left-iine-button
        .heart
          ♡
        .iine
          いいね!
        .count
          10
      .middle-report-button
        .middle-report
          %i.far.fa-flag
          不適切な商品の報告
      .right-report-button
        = link_to root_path do
          %i.fas.fa-lock
          .right-report-message
            あんしん・あんぜんへの取り組み
              
  .coment-form-container
    %form.form{:action => "/test", method: "post"}
      .precautionary-note
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %div
        %textarea.textarea#message{placeholder: ""}
      %div
        %input.input{:type => "submit", :value => "コメントする"}/
  .left-and-right-link-tag-container
    .left-link-tag
      .p < ZARA シャツ 新品
    .right-link-tag
      .p 親も年とってまいりましたコミックエッセイ >
  .icon-line-facebook-container
    .icon-line-facebook
      %ul.header__lists
        %li.list
          = link_to root_path do
            %i.fab.fa-twitter-square
        %li.list
          = link_to root_path do
            %i.fab.fa-facebook-square
        %li.list
          = link_to root_path do
            %i.fab.fa-line
        %li.list
          = link_to root_path do
            %i.fab.fa-paypal
  .other-product-container
    .product-container
      %h3.product-container__title
        = link_to '出品者', root_path, class: 'product-container__title__link-btn'          
      .product-container__contents
        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

    .product-container
      .product-container__contents
        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)
    .product-container
      %h3.product-container__title
        = link_to '出品者', root_path, class: 'product-container__title__link-btn'          
      .product-container__contents
        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

    .product-container
      .product-container__contents
        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

        .product-container__contents__child
          = link_to image_tag('ladies.jpg', class: 'product-container__contents__child__image-size'), root_path, class: 'product-container__contents__child__image-block-size'
          .product-container__contents__child__body
            .product-container__contents__child__body__name
              手袋新品コレアーレグローブス Correale gloves ラビットファー
            .product-container__contents__child__body__info
              .product-container__contents__child__body__info__price
                ¥ 900
              .product-container__contents__child__body__info__iine
                %i.fa.fa-heart
                1
            .product-container__contents__child__body__tax
              (税込)

  =render "layouts/aside"
  =render "layouts/footer"