.default-container
  %header.header
    = render "layouts/header"
  %nav.bread-crumb
    - breadcrumb :keyword
    = breadcrumbs separator: " &rsaquo; "
  %main.search-container
    = render partial: 'search_sidebar'
    .search-result
      %h2.search-result__head
        #{params[:keyword]} の検索結果
      .search-result__number
        1~132件表示
      .search-result__items
        = render partial:'search_result_items', collection: @items, as:'item'

  %footer.footer
    = render "layouts/aside"
    = render 'layouts/footer'
    = render "layouts/sell-button"