.default-container
  %header.header
    = render "layouts/header"

  %main.search-container
    .search-sidebar
    .search-result
      %h2.search-result__head
        #{params[:keyword]} の検索結果
      .search-result__number
        1~132件表示
      .search-result__items
        = render 'items/search_result_items'

  %footer.footer
    = render "layouts/aside"
    = render 'layouts/footer'
    = render 'layouts/footer-sell-btn'