.container
  = render "layouts/header"
  %nav.bread-crumb
    - breadcrumb :mypage
    = breadcrumbs separator: " &rsaquo; "

  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .right-identity-information__selling
        %section.right-continer__selling
          %section.purchase-items__selling
            %h2.purchase-items__selling__head
              出品した商品
            %ul.purchase-items__selling__tabs
              %li.purchase-items__selling__tabs__text1
                =link_to '出品中', selling_items_path
              %li.purchase-items__selling__tabs__text2
                =link_to '取引中', trading_items_path
              %li.purchase-items__selling__tabs__text3
                =link_to '売却済', sold_items_path
            .my-selling__main__container
              .my-selling-list
                - if @sellingitems.present?
                  -# - if @sellingitems.sales_condition==1||@sellingitems.sales_condition==2
                  - @sellingitems.each do |item|
                    .my-selling-list__wrap
                      =link_to "/items/#{item.id}" do
                        .my-selling-list__wrap__image
                          =image_tag(item.item_images.first.image.url, class: 'picture')
                        .my-selling-list__wrap__detail
                          .my-selling-list__wrap__detail__name
                            =item.name
                            .my-selling-list__wrap__detail__icon
                              .my-selling-list__wrap__detail__icon__1
                                .my-selling-list__wrap__detail__icon__1__heart
                                  %i.far.fa-heart
                                .my-selling-list__wrap__detail__icon__1__heart__display
                                  3
                              .my-selling-list__wrap__detail__icon__2
                                .my-selling-list__wrap__detail__icon__2__comment
                                  %i.far.fa-comment-alt
                                .my-selling-list__wrap__detail__icon__2__comment__display
                                  1
                              .my-selling-list__wrap__arrow
                                %i.fa.fa-chevron-right
                              - if item.order_status.status==1
                                .selling__bar
                                  出品中
                              - else
                                .stoppublishing__bar
                                  公開停止中
                  
                -else
                  .purchase-items__selling__container
                    %ul.purchase-items__selling__container__list
                    %li.purchase-items__selling__container__list__text
                      取引中の商品がありません

  .footer
    = render "layouts/aside"
    = render "layouts/footer"
    = render "layouts/sell-button"
