.header
  .header-inner
    %h1.top-contents
      = link_to image_tag('mercari-logo.jpg', class: 'top-contents__home-btn-size'), root_path, class: 'top-contents__home-btn-block-size'
      = form_for(@top, html: {class: "top-contents__form"}) do |f|            
        = f.text_area :content, placeholder:"何かお探しですか？", class: "top-contents__form__input"
        %label.top-contents__form__icon
          = fa_icon'search'
          = f.submit "send", class: "top-contents__form__icon__search"

    .lower-contents
      .left-category
        %ul.left-category__list
          %li.left-category__list__cate
            = fa_icon'list-ul'
            = link_to 'カテゴリーから探す', root_path, class: 'left-category__list__cate__link-btn'
            .navigation__left__category__menu
              = render "items/category-menu"
          %li.left-category__list__brand
            = fa_icon'tag'
            = link_to 'ブランドから探す', root_path, class: 'left-category__list__brand__link-btn'
            .navigation__left__brand__menu
              = render "items/brand-menu"
            
      .navigation__right
        .navigation__right__iine
          = link_to "いいね！一覧", "#"
        .navigation__right__note
          = link_to "お知らせ", "#"
          .navigation__right__note__list
            = render "layouts/note-list"
        .navigation__right__todo
          = link_to "やることリスト", "#"
          .navigation__right__todo__list
            = render "layouts/todo-list"
        .navigation__right__mypage
          = image_tag image_path("user.png")
          = link_to "マイページ", '#', class: "navigation__right__mypage__link"
